# Environment and dependencies
venv/
wise/
.env
__pycache__/
*.py[cod]
models/
depo/
routes/

# Storage and data files
storage/
audio/
*.mp3
*.wav
*.log
faqs.csv
wise_help_cotntent.csv

# API keys
*.key